.features {
	background-color: #141a22;
	color: aliceblue;
	border-style: none;
    border-color: #141a22;
	text-align: left;
}
.features:hover{
    border-color: initial;
}
.features-container {
	display: flex;
	margin: 4rem;
	gap: 3rem;
	margin-bottom: 10%;
}
.text-container {
	display: flex;
	width: 40%;
	flex-direction: column;
	gap: 0.8rem;
	justify-content: center;
}
.image-container {
	width: 50%;
	/* height: 100vw; */
	justify-content: center;
	margin-top: 2rem;
}
.image-container > img {
	width: 45vw;
	margin-left: 2rem;
}
.highlight {
	border-color: #141a22;
	border-left: 3px solid white;
	padding-left: 20px;
}