:root{
    --gap:20px;
    --dimension:300px;
}

.news-container {
    margin-inline: 4rem;
    margin-block: 50px;
    overflow: hidden; /* Ensure the container hides overflow */
}

.card-image {
    height: var(--dimension);
    width: var(--dimension);
}

.scrolling-content {
    display: flex;
    gap: var(--gap);
    padding: 20px;
    animation: scroll 5s linear infinite;
}

.card-image:hover{
    transform: scale(1.1);
    animation-play-state: paused;
}

.scrolling-content:hover{
    animation-play-state: paused;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-5 * (var(--dimension) + var(--gap)) ));
    }
}
